<% ns=get_namespace() %>
<%if ns.nil?%>
<% obj_ns=@obj %>
<% else %>
<% obj_ns=[ns,@obj] %>
<% end %>
<div class="breadcrumb" >
  <%= semantic_bootstrap_nested_form_for obj_ns do |f| %>
    <%= f.inputs do %>
      <%= f.input :var %>    
      <%= f.input :value, :as => :ckeditor,:input_html => { :ckeditor => { :height => 400,:rows => 20, :cols => 50 } } %>    
    <% end %>

    <%= button_submit(f) %>
  <% end %>
</div>
